//Variables
$main-color: #635FC7;
$white: #fff;
$button-hover: #A8A4FF;
$border: #E4EBFA;
$task: #000112;
$subtask: #828FA3;
$lightgrey: #F4F7FD;

//Common CSS
body {
    background: #F4F7FD;
}
.main-row {
    display: flex;
    .sidebar-col {
        flex-basis: 0;
        flex-grow: 1;
    }
    .board-col {
        flex-basis: 0;
        flex-grow: 5;
    }
}