.task-modal {
    .modal-header {
        border-bottom: none;
        h5 {
            color: $task;
            font-size: 18px;
            font-weight: bold;
        }
    }
    .modal-body {
        color: $subtask;
        font-size: 12px;
        font-weight: bold;
        .sub-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .form-check {
                background: $lightgrey;
                padding: 15px 30px;
                display: flex;
                gap: 10px;
                input[type="checkbox"]:checked + label {
                    text-decoration: line-through;
                }
            }
        }
    }
}